---
import Layout from "../../layouts/Layout.astro";
import { ProductsTable } from "../../components/ProdcuctsTable/ProductsTable";

const res = await fetch("http://localhost:3000/api/user/status");
const resJson = await res.json();
const userSession = resJson.message.session;

const result = await fetch("http://localhost:3000/api/admin/verif", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    userId: userSession.user.id,
  }),
});
const userType = await result.json();

if (userSession === null) {
  return Astro.redirect("/");
}

if (userType.message === "noAdmin") {
  console.log(userType);
  return Astro.redirect("/chat");
}
---

<Layout title="Gestión  de Productos">
  <body>
    <header>
      <div class="header__logo">
        <img src="/img/logo_karina.png" alt="Logo Giftia" />
      </div>

      <ul class="header__prod">
        <li>
          <a href="./">Productos</a>
        </li>
      </ul>
    </header>
    <h1>Productos</h1>

    <ProductsTable client:visible />
  </body>
</Layout>

<style>
  body {
    background-color: #a4bafd;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    height: 100vh;
    margin: 0;
    font-family: "Anton", sans-serif;
    font-family: "Rajdhani", sans-serif;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  h1 {
    color: rgb(0, 0, 0);
    margin-top: 20px; /* Ajusta el margen según sea necesario */
    margin-left: 10px;
    position: absolute; /* Utiliza "absolute" para posicionar de forma absoluta */
    top: 100px; /* Ajusta según tus necesidades */
    left: 5px; /* Ajusta según tus necesidades */
  }

  button {
    color: rgb(0, 0, 0);
    border-color: rgb(72, 75, 233);
    border-radius: 7px;
    margin-top: 5px;
    padding: 2px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Hace que el header esté fijo en la parte superior de la pantalla */
    top: 0; /* Lo posiciona en la parte superior */
    height: 100px;
    width: 100vw;
    background-color: #333333; /* Puedes cambiar esto a tu color de fondo deseado */
    color: white; /* Puedes cambiar esto a tu color de texto deseado */
    z-index: 1000;
  }

  header .header__logo {
    margin-left: 50px;
    height: 90px;
    width: 100px;
    margin-top: 10px;
    overflow: hidden;
  }

  header .header__logo img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  } /*Propiedades para que la img ocupe toda la forma del contenedor y no se salga de ella.*/

  header .header__prod {
    display: flex;
    padding-right: 30px;
  } /*Aquí está guardado las opciones */

  header .header__prod li {
    padding: 10px;
    list-style-type: none;
    font-family: "Rajdhani", sans-serif;
  } /*Se edita el estilo del contenido de la lista.*/

  header .header__prod li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  } /*Se edita el estilo del contenido del link*/

  header .header__prod li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--dark-pink);
    display: block;
    transition: 0.1s linear;
  } /*Se edita para animacion de la rayita debajo. P1.*/

  header .header__prod li a:hover::after {
    width: 100%;
  } /*Se edita para animacion de la rayita debajo. P2.*/

  header .header__prod .header__prod--login {
    border-left: 3px solid white;
  } /*la única linea blanca que hay.*/

  button:hover {
    background-color: rgba(16, 48, 192, 0.37);
  }
</style>
