---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { ProductsTable } from "../../components/ProdcuctsTable/ProductsTable";

---

<AdminLayout title="Gestión  de Productos">
  <h1>Productos</h1>

  <ProductsTable client:visible />
</AdminLayout>

<style>

  h1 {
    color: #ffffff;
    font-size: 32px;
    /*margin-top: 0px; /* Ajusta el margen según sea necesario */
    margin-left: 15px;
    position: absolute; /* Utiliza "absolute" para posicionar de forma absoluta */
    top: 100px; /* Ajusta según tus necesidades */
    left: 5px; /* Ajusta según tus necesidades */
    letter-spacing: 0.1em;
    
  }

  button {
    color: rgb(192, 4, 4);
    border-color: rgb(72, 75, 233);
    border-radius: 7px;
    margin-top: 5px;
    padding: 2px;
  }

  button:hover {
    background-color: #ffff;
  }
</style>
