---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { UserTable } from "../../components/UsersTable/UserTable";

const res = await fetch("http://localhost:3000/api/user/status");
const resJson = await res.json();
const userSession = resJson.message;

if (userSession === null) {
  return Astro.redirect("/");
}

const result = await fetch("http://localhost:3000/api/admin/verif", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    userId: userSession.id,
  }),
});
const userType = await result.json();



if (userType.message === "noAdmin") {
  console.log(userType);
  return Astro.redirect("/chat");
}
---

<AdminLayout title="Gestión  de Productos">
  <h1>Productos</h1>
  <UserTable client:visible />
</AdminLayout>