---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { ProductsTable } from "../../components/ProdcuctsTable/ProductsTable";

const res = await fetch("http://localhost:3000/api/user/status");
const resJson = await res.json();
const userSession = resJson.message.session;

if (userSession === null) {
  return Astro.redirect("/");
}

const result = await fetch("http://localhost:3000/api/admin/verif", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    userId: userSession.user.id,
  }),
});
const userType = await result.json();



if (userType.message === "noAdmin") {
  console.log(userType);
  return Astro.redirect("/chat");
}
---

<AdminLayout title="Gestión  de Productos">
  <h1>Productos</h1>

  <ProductsTable client:visible />
</AdminLayout>

<style>

  h1 {
    color: rgb(0, 0, 0);
    margin-top: 20px; /* Ajusta el margen según sea necesario */
    margin-left: 10px;
    position: absolute; /* Utiliza "absolute" para posicionar de forma absoluta */
    top: 100px; /* Ajusta según tus necesidades */
    left: 5px; /* Ajusta según tus necesidades */
  }

  button {
    color: rgb(0, 0, 0);
    border-color: rgb(72, 75, 233);
    border-radius: 7px;
    margin-top: 5px;
    padding: 2px;
  }

  button:hover {
    background-color: rgba(16, 48, 192, 0.37);
  }
</style>
