---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { ProductsTable } from "../../components/ProdcuctsTable/ProductsTable";
import { profileAPI } from "../../api/auth.js";


const user = await profileAPI();
if (user !== 'error') {
  if (user === 'user not logged') {
    return Astro.redirect("/login");
  } else {
    if (user.role !== 'admin') {
    return Astro.redirect("/chat");
    }
  }
} else {
  console.log('Ha ocurrido un error: ', user);
}
---

<AdminLayout title="Gestión  de Productos">
  <h1>Productos</h1>

  <ProductsTable client:visible />
</AdminLayout>

<style>

  h1 {
    color: rgb(0, 0, 0);
    margin-top: 20px; /* Ajusta el margen según sea necesario */
    margin-left: 10px;
    position: absolute; /* Utiliza "absolute" para posicionar de forma absoluta */
    top: 100px; /* Ajusta según tus necesidades */
    left: 5px; /* Ajusta según tus necesidades */
  }

  button {
    color: rgb(0, 0, 0);
    border-color: rgb(72, 75, 233);
    border-radius: 7px;
    margin-top: 5px;
    padding: 2px;
  }

  button:hover {
    background-color: rgba(16, 48, 192, 0.37);
  }
</style>
