---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chat">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <div class="cont-com">

        <div class="izq"> <!--Contenedor del lado izquierdo-->
            <img class="logok" src="../img/logo_karina.png" alt="logo"> <!--REVISAR -->
            <li><a class="CT">Cuenta</a></li>
            <li><a class="SL">Salir</a></li>
        </div>

        <div class="der"> <!--Contenedor del lado derecho-->

            <div class="msgpre">
                <p class="text">¡Hola! Hoy te ayudaré a encontrar el regalo perfecto. Puedes escribir las preferencias siguiendo este ejemplo: Color, edad, deporte y dinero disponible.</p>
            </div>

            <div class="chat-input"> <!--Contenedor para la sección en donde escribe el usuario-->
                <input type="text" class="chat" placeholder="Solicita tus regalos aquí...">
                <button type="submit" onclick="enviarMensaje(); MandarAlServidor();" class="pedir_gift"><ion-icon name="navigate-circle-outline"></ion-icon></button>
            </div>
        </div>
    </div>

    <script is:inline> //esto significa que será destinado para que se ejecute inline
        
        //se crea una funcion para que el usuario envie un mensaje y se muestre en front
        function enviarMensaje() {  //se define la función enviarMensaje
            const message = document.querySelector(".chat").value;
            const chat = document.querySelector(".chat-input")
            const newDiv = document.createElement("div") //se está creando un nuevo div llamado newdiv
            newDiv.className = "msguser" //se le agrega una clase a newdiv
            newDiv.innerHTML = "<p>"+message+"</p>" //inserta un nuevo parrafo del usuario a newdiv
            
            newDiv.style.color = "black";
            newDiv.style.backgroundColor = "#8094f9";
            newDiv.style.borderRadius = "10px"; // Redondear las esquinas
            newDiv.style.padding = "10px"; // Espaciado interior
            newDiv.style.marginBottom = "10px"; // Espaciado entre mensajes
            newDiv.style.maxWidth = "70%"; // Ancho máximo
            newDiv.style.clear = "both"; // Limpiar el float para que se posicione debajo
            newDiv.style.overflow = "auto"; // Para manejar correctamente el float
            newDiv.style.position = "relative"; // Posición relativa para alinear la imagen
            newDiv.style.display = "flex";

            chat.appendChild(newDiv) // se inserta newdiv en chat-input
        }
        
        //Funcion que espera interaccion del usuario para obtener respuesta (asincrona)
        async function MandarAlServidor() { //funcion asincrona
            const user = document.querySelector(".chat").value;
            const response = await fetch('http://localhost:3000/api/chat/send', {
                method: 'POST',
                body: JSON.stringify({userMessage: user}),
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            const data = await response.json();

            //En esta seccion se crea una seccion en donde se haga visible en front la respuesta de la IA
            const chat = document.querySelector(".chat-input")
            const newdiv = document.createElement("div") //se está creando un nuevo div llamado newdiv
            newdiv.className = "msgbot" //se le agrega una clase a newdiv
            newdiv.innerHTML = "<p>"+"Hola, soy GIFTIA"+"</p>" //inserta un nuevo parrafo del bot a newdiv
            
            newdiv.style.color = "black";
            newdiv.style.backgroundColor = "#a4bafd";
            newdiv.style.borderRadius = "10px"; // Redondear las esquinas
            newdiv.style.padding = "10px"; // Espaciado interior
            newdiv.style.marginBottom = "10px"; // Espaciado entre mensajes
            newdiv.style.maxWidth = "70%"; // Ancho máximo
            newdiv.style.clear = "both"; // Limpiar el float para que se posicione debajo
            newdiv.style.overflow = "auto"; // Para manejar correctamente el float
            newdiv.style.position = "relative"; // Posición relativa para alinear la imagen

            
            chat.appendChild(newdiv) // se inserta newdiv en chat-input
        }

    </script>
    
</Layout>

<style>

    .cont-com {
        position: absolute;
        width: 100%; /*ancho*/
        height: 100%; /*altura*/
        background-color: #1a1a4c; /*color de fondo*/
        z-index: 1; /* es para que esté detrás de otros elementos */
        top: 0; /*estará pegado al borde superior*/
    }  

    .izq {
        position: absolute;
        width: calc(13% - 40px); /* 13% - 20px de cada lado */
        height: calc(100% - 40px); /* 100% - 20px de arriba y abajo */
        background-color: #a4bafd; /*color de fondo*/
        z-index: 2; /* es para que esté sobre .cont-com */
        top: 20px; /* mueve 20px desde el borde superior */
        left: 20px; /* mueve 20px desde el borde izquierdo */
        border-radius: 10px; /* redondea las esquinas */
        border: 20px solid transparent; /* crea el borde de 20px */
        display: flex;
        flex-direction: column; /* alinea los elementos verticalmente */
        justify-content: flex-start; /* alinea los elementos al principio */
        align-items: center; /* alinea los elementos al centro horizontalmente */
    }

    .der {
        position: absolute;
        width: calc(87% - 40px); /* 87% - 20px de cada lado */
        height: 100%;
        background-color: #1a1a4c;
        z-index: 1; /* Asegura que esté detrás de otros elementos */
        left: calc(13% + 20px); /* Posición desde el borde izquierdo */
        border-radius: 10px; /* redondea las esquinas */
        border: 20px solid transparent; /* crea el borde de 20px */
    }

    .logok {
        width: 40%;
        max-width: 250px;
        min-width: 150px;
        display: block;
        position: relative; /* Cambiamos la posición a relativa */
        margin-top: -10px; /* Agregamos un margen superior */
    }

    .titulo {
        text-align: center;
        margin-top: 10%;
        color: white;
    }

    .CT,
    .SL {
        text-align: center;
        list-style-type: none;
        color: white;
        margin: 10px 0; /* Agregamos un margen entre los elementos */
    }
    
    .msgpre {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #a4bafd ;
        border-radius: 2vh;
        width: 50%;
        height: 10vh;
        padding: 4vh;    
    }

    .text {
        color: black;
    } 

    .chat { 
        width: 100%;
        padding: 20px; /* Espaciado interior para el borde inferior */
        box-sizing: border-box; /* Incluimos el relleno en el ancho total */
        background-color: #ffffff; /*.fondo blanco*/
        border-radius: 10px; /* Redondear esquinas */
        margin-top: 70vh; /* Espaciado superior para separarlo del borde superior */
    }

    .chat-input
    {
        display:flex;
        border: 25px solid transparent;
        position: relative;

    }

    .pedir_gift 
    {
        width: 7vh;
        height: 7vh;
        font-size: 6vh;
        background-color: transparent;
        color: #ffffff;
        border: none;
        margin-top: 72vh;
        margin-left: 2vh;
    }

    .pedir_gift:hover
    {
        cursor: pointer;
        color: #909090;
        animation: zoomInOut 1s infinite alternate; /* Puedes ajustar la duración y el número de repeticiones según tu preferencia */
    }

    @keyframes zoomInOut {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.2); 
    }}

    .msguser {
        background-color: #10150c; /* Color de fondo para mensajes del usuario */
        color: #333; /* Color de texto para mensajes del usuario */
        border-radius: 10px; /* Redondear las esquinas */
        padding: 10px; /* Espaciado interior */
        margin-bottom: 10px; /* Espaciado entre mensajes */
        max-width: 70%; /* Ancho máximo para los mensajes del usuario */
        clear: both; /* Limpiar el float para que se posicione debajo */
        overflow: auto; /* Para manejar correctamente el float */
        position: relative; /* Posición relativa para alinear la imagen */
    }

    .msgbot {
        background-color: #333; /* Color de fondo para mensajes del bot */
        color: #333; /* Color de texto para mensajes del bot */
        border-radius: 10px; /* Redondear las esquinas */
        padding: 10px; /* Espaciado interior */
        margin-bottom: 10px; /* Espaciado entre mensajes */
        max-width: 70%; /* Ancho máximo para los mensajes del bot */
        clear: both; /* Limpiar el float para que se posicione debajo */
        overflow: auto; /* Para manejar correctamente el float */
        position: relative; /* Posición relativa para alinear la imagen */
    }

</style>