---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Giftia">
  <body>
    <header>
      <img src="/img/logo_karina.png" alt="logo" class="logo" />
      <!--Falta añadir LOGO-->
      <nav class="navegador">
        <a href="/chat/">Ir al Chat</a>
        <a href="/adminPages/gest-prod/">Gestion Prod Admin</a>
        <a href="/login/">Iniciar Sesión</a>
      </nav>
    </header>
  </body>

  <main></main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f31a4;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #8094f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .logo {
    font-size: 2em;
    color: #eef3ff;
    width: 40%;
    max-width: 90px;
    min-width: 20px;
  }
  .navegador {
    /* Configuración de todo el NavBar */
    position: relative;
    font-size: 1.1em;
    color: #fff; /* Todos los colores #fff estan por definir. */
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
</style>
