---
import Layout from "../layouts/Layout.astro";

// const isUser = "test"

// if (isUser !== null) {
//   window.location.href = "/chat"
// }
---

<Layout title="Giftia">
  <div class="welcome-cont">
    <div class="welcome-header">
      <img src="/img/logo_karina.png" alt="logo" class="logo" />
      <h1 class="welcome-title">Bienvenido a Giftia</h1>
    </div>
    <div class="loginBtn-container">
      <a href="/login" class="login-link">Iniciar sesión</a>
    </div>
  </div>
</Layout>

<style>
  body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .welcome-cont {
    background-color: #a4bafd;
    width: 750px;
    height: 500px;
    display: flex;
    justify-content: space-between; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
    padding: 4rem 0;

    border-radius: 3rem;
    border: 2px solid #ffb2d5;
  }

  .welcome-header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
  }

  .welcome-title {
    font-size: 3rem;
  }

  .logo {
    width: 35%;
  }

  .login-link {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    color: black;
    text-decoration: none;
    background-color: #ffb2d5;
    font-size: 1.5rem;
    border-radius: 0.6rem;

    width: 10rem;
    height: 3.5rem;

    cursor: pointer;
    transition: 0.1s;
  }

  .login-link:active {
    transform: scale(0.9);
    background-color: #be869f;
    transition: 0.1s;
  }
</style>
