---
import LoginLayout from "../layouts/LoginLayout.astro";
---

<LoginLayout title="Giftia">
  <main>
    <body>
      <div class="agrupador">
        <!-- Contenedor del Formulario Login -->
        <span class="icono-cerrar">
          <ion-icon name="close-outline"></ion-icon>
        </span>

        <div class="form-boxlogin">
          <!--Formulario del Login -->
          <h2>Inicio de Sesión</h2>
          <form action="#" id="loginForm">
            <div class="caja-inputs">
              <!--Caja encargada de recibir datos del usuario -->
              <input type="email" id="loginEmail" required />
              <label>Correo</label>
            </div>
            <div class="caja-inputs">
              <!--Caja encargada de recibir datos del usuario -->
              <input type="password" id="loginPassword" required />
              <label>Contraseña</label>
            </div>
            <div class="recordar-olvido">
              <!--Botón de recordar al usuario y olvido contraseña -->
              <label><input type="checkbox" /> Recordarme</label>
              <a href="#"> Olvidé mi contraseña </a>
              <!--Botón sin link de caida todavía -->
            </div>
            <button type="submit" class="btn-login0">Ingresar</button>
            <div class="inicio-registro">
              <p>No estas registrado? <a href="#" class="link-registro">Registrarme</a></p>
            </div>
          </form>
        </div>
        <div class="form-boxregistro">
          <!--Formulario del Registro -->
          <h2>Registro</h2>
          <form action="#" id="registerForm">
            <div class="caja-inputs">
              <!--Caja encargada de recibir datos del usuario -->
              <input type="text" id="registerUser" required />
              <label>Usuario</label>
            </div>
            <div class="caja-inputs">
              <!--Caja encargada de recibir datos del usuario -->
              <input type="email" id="registerEmail" required />
              <label>Correo</label>
            </div>
            <div class="caja-inputs">
              <!--Caja encargada de recibir datos del usuario -->
              <input type="password" id="registerPass" required />
              <label>Contraseña</label>
            </div>
            <div class="recordar-olvido">
              <!--Botón de recordar al usuario y olvido contraseña -->
              <label><input type="checkbox" /> Acepto los términos y condiciones</label>
            </div>
            <button type="submit" class="btn-login0">Registrarme</button>
            <div class="inicio-registro">
              <p>Ya tienes una cuenta? <a href="/" class="link-login">Iniciar Sesión</a></p>
            </div>
          </form>
        </div>
      </div>

      <!-- Toastify CSS y JS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
      <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="../scripts/scriptlogin.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

      <script>
        import { saveItem, getItem } from '../functions/localStorage.js'
        import { loginAPI, registerAPI } from '../api/auth.js'
        import Toastify from 'toastify-js';
        const loginForm = document.querySelector('#loginForm')
        const registerForm = document.querySelector('#registerForm')

        const linkTo = (role) => {
          console.log(role)
          if(role === 'admin'){
            window.location.href = "/adminPages/gest-prod"
          }else if (role === 'user') {
            window.location.href = "/chat"
          } else {
            Toastify({
                text: 'Usuario o contraseña incorrectos',
                        duration: 60000,
                        close: true,
                        gravity: "bottom",
                        position: "right",
                        backgroundColor: "red"
            }).showToast();
          }
        }

        loginForm.addEventListener('submit', async (e) => {
          e.preventDefault();
          const email = loginForm['loginEmail'].value;
          const password = loginForm['loginPassword'].value;

          const data = await loginAPI(email, password)

          if (data === 'Email o contraseña incorrecta') {
            Toastify({
                text: 'Usuario o contraseña incorrectos',
                        duration: 60000,
                        close: true,
                        gravity: "bottom",
                        position: "right",
                        backgroundColor: "red"
            }).showToast();
          } else {
            saveItem('user', data.user)
            saveItem('token', data.token)
            const userType = await getItem('user')
            linkTo(userType.role)
          }
        })

        registerForm.addEventListener('submit', async (e) => {
          e.preventDefault();
          const user = registerForm['registerUser'].value;
          const email = registerForm['registerEmail'].value;
          const password = registerForm['registerPass'].value;

          const userRegister = await registerAPI(user, email, password)
          if (userRegister) {
            saveItem('user', userRegister)
            const userType = await getItem('user')
            linkTo(userType.role)
          } else {
            Toastify({
              text: "Error en el registro",
              backgroundColor: "linear-gradient(to right, #FF5F6D, #FFC371)",
              className: "info",
            }).showToast();
          }
        })
      </script>
    </body>
  </main>
</LoginLayout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #443C54;
    min-height: 100vh;
    color: white;
    font-size: 19px;
    line-height: 1.6;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #443C54;
  }

  .agrupador {
    position: relative;
    width: 400px;
    background: #443C54;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s ease;
    padding: 20px;
  }

  .agrupador.activo {
    height: 520px;
  }

  .agrupador .form-boxlogin,
  .agrupador .form-boxregistro {
    width: 100%;
    padding: 40px;
  }

  .agrupador .form-boxlogin {
    transition: .18s ease;
    transform: translateX(0);
  }

  .agrupador.activo .form-boxlogin {
    transition: none;
    transform: translateX(-400px);
  }

  .agrupador .form-boxregistro {
    position: absolute;
    transform: translateX(400px);
  }

  .agrupador.activo .form-boxregistro {
    position: absolute;
    transition: none;
    transform: translateX(0px);
  }

  .agrupador .icono-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #E5E8FA;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .form-boxlogin h2,
  .form-boxregistro h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
  }

  .caja-inputs {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
  }

  .caja-inputs label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }

  .caja-inputs input:focus~label,
  .caja-inputs input:valid~label {
    top: -5px;
  }

  .caja-inputs input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }

  .recordar-olvido {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recordar-olvido label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .recordar-olvido label input {
    accent-color: #162938;
    margin-right: 3px;
  }

  .recordar-olvido a {
    color: #fff;
    text-decoration: none;
  }

  .recordar-olvido a:hover {
    text-decoration: underline;
  }

  .btn-login0 {
    width: 100%;
    height: 45px;
    background: #3b334b;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #CBA3FB;
    font-weight: 500;
    margin-top: 10px;
  }

  .inicio-registro {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

  .inicio-registro p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  .inicio-registro p a:hover {
    text-decoration: underline;
  }
</style>
