<<<<<<< HEAD
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

=======
>>>>>>> 800f5d1ba5fb5087408249243abbad9724ac5b67
/* Styles for your general layout */
.allCont {
  min-width: 50px;
  min-height: 20rem;
  height: auto;
  margin: 20px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #3b334b;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.tabla-contenedora {
  width: 100%;
  border-collapse: collapse;
}

.TableRow {
  border-bottom: 1px solid #dddddd;
}

.RowHead {
  background-color: #3b334b;
  color: white; /* Assuming you want white text for headers */
}

.TableCell {
  padding: 20px;
  margin-bottom: 10px;
}

/* Styles for the buttons within the table */
.edit-button {
  background-color: #443C54; /* Color of buttons */
  color: white; /* Text color */
  border: none; /* Remove default border */
  padding: 10px 15px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Indicate it's a button */
  transition: background-color 0.3s; /* Smooth color change on hover */
}

.edit-button:hover {
  background-color: #CBA3FB; /* Darker background on hover */
}

/* Center buttons within table cells (optional) */
.edit-button {
  display: inline-block; /* Allow buttons to occupy full width */
  margin: 10px; /* Center horizontally */
}